/Text/HJsMin.hs~
/dist/*
/hjsmin.cabal~
/runtests.hs~
/.gitignore~
/TODO.txt~
/Text/HJsMin/Parse.hs~
/Text/Jasmine.hs~
/Text/Jasmine/Parse.hs~
/Text/Jasmine/Pretty.hs~
/buildall.sh~
/test/mkfinified.sh~
/test/mkminified.sh~
/Text/Jasmine/Token.hs~
